{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="left-panel">
        <div class="logo-text-container">
            <img src="../static/alina-logo.jpg" alt="Alina Tarot Therapy Logo" class="logo">
            <div class="title-text">
                <h2>ALINA</h2>
                <h2>TAROT</h2>
                <h2>ASTRO</h2>
                <h2>LOVE</h2>
                <h2>PSYCHOLOGY</h2>
            </div>
        </div>
        <div class="instructions">
            <p>Helping you to reach the truth that you already have inside you</p>
        </div>
    </div>

    <div class="right-panel">
        <nav class="navigation">
            <ul>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#important">IMPORTANT</a></li>
                <li><a href="#feedback">FEEDBACK</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="https://t.me/vidvertoprotaro" target="_blank"><img src="../static/telegram.svg" alt="Telegram"></a>
            <a href="https://www.instagram.com/sixamprincess?igsh=MWw3Y2J4NWYyZ2xhYg%3D%3D&utm_source=qr" target="_blank">
                <img src="../static/instagram.svg" alt="Instagram">
            </a>
            <a href="https://wa.me/qr/Q5FSEMNWBPYWH1" target="_blank"><img src="../static/whatsapp.svg" alt="WhatsApp"></a>
        </div>
    </div>
</div>

<div id="services" class="services-section">
    <div class="header">
        <h1>SERVICES</h1>
    </div>
    <div class="services-buttons">
        <a href="#" class="service-btn">TAROT READINGS</a>
        <a href="#" class="service-btn">VIDEO CALL</a>
        <a href="#" class="service-btn">QUICK MESSAGE</a>
        <a href="#" class="service-btn">YOUR QUESTIONS</a>
        <a href="#" class="service-btn">COMPATIBILITY ASTRO</a>
    </div>
    <div class="instructions">
        <p>Choose an option you prefer and text me in Telegram or WhatsApp</p>
    </div>
    <div class="contact-icons">
        <a href="https://t.me/sixamprincess" target="_blank">
            <img src="../static/telegram.svg" alt="Telegram">
        </a>
        <a href="https://wa.me/qr/Q5FSEMNWBPYWH1" target="_blank">
            <img src="../static/whatsapp.svg" alt="WhatsApp">
        </a>
    </div>
</div>

<div id="tarot-reading" class="tarot-reading">
    <div class="tarot-title">
        <h1>TAROT READINGS</h1>
    </div>
    <div class="category-title">
        <h2>| General |</h2>
        <h2>WHAT'S COMING SOON</h2>
        <h2>during: 1 week/1/2/3 months</h2>
    </div>
    <div class="instructions">
        <ol>
            <li>How your Reality will look like during this period in general</li>
            <li>What this period is favourable for</li>
            <li>Important situations and changes</li>
        </ol>
        <p>+ 2 questions from you</p>
        <p>for example</p>
        <ol>
            <li>How will my relationships with *name* change during this time?</li>
            <li>How will my financial situation look like?</li>
        </ol>
    </div>
    <div class="pricing">
        <h2>$30 (usd)</h2>
    </div>
</div>


{% endblock %}
