{% extends "base.html" %}

{% block content %}

<!-- Fixed Language Button Dropdown -->
<div class="language-selector">
    <button class="language-button" onclick="toggleDropdown()">
        {{ language_options[lang].name }} <span id="arrow" class="arrow">▼</span>
    </button>
    <div id="languageDropdown" class="dropdown-content">
        {% for code, language in language_options.items() %}
            {% if code != lang %}
                <a href="{{ url_for('set_language', lang_code=code) }}">
                    {{ language.name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    function toggleDropdown() {
        const dropdown = document.getElementById("languageDropdown");
        const arrow = document.getElementById("arrow");

        // Toggle visibility
        dropdown.classList.toggle("show");

        // Toggle arrow direction
        arrow.classList.toggle("rotate");
    }

    // Close dropdown if clicked outside
    window.onclick = function(event) {
        if (!event.target.matches('.language-button')) {
            const dropdowns = document.getElementsByClassName("dropdown-content");
            const arrow = document.getElementById("arrow");
            for (let i = 0; i < dropdowns.length; i++) {
                let openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                    arrow.classList.remove('rotate');
                }
            }
        }
    }
</script>


<div class="container">

    <div class="left-panel">
        <div class="logo-text-container">
            <img src="../static/alina-logo.png" alt="Alina Tarot Therapy Logo" class="logo">
            <div class="title-text">
                <h2>ALINA<br>TAROT<br>ASTRO<br>LOVE<br>PSYCHOLOGY</h2>
            </div>
        </div>

        <div class="instructions">
            <p>{{ translations['title'] }}</p>
        </div>
    </div>


    <div class="right-panel">
        <nav class="navigation">
            <ul>
                <li><a href="#services">{{ translations['services']['services'] }}</a></li>
                <li><a href="#tarot-readings">{{ translations['services']['tarot-readings'] }}</a></li>
                <li><a href="#important">{{ translations['services']['important'] }}</a></li>
            </ul>
        </nav>

        <div class="social-media">
            <a href="https://t.me/sixamprincess" target="_blank"><img src="../static/telegram.svg" alt="Telegram"></a>
            <a href="https://www.instagram.com/sixamprincess?igsh=MWw3Y2J4NWYyZ2xhYg%3D%3D&utm_source=qr" target="_blank">
                <img src="../static/instagram.svg" alt="Instagram">
            </a>
            <a href="https://wa.me/qr/Q5FSEMNWBPYWH1" target="_blank"><img src="../static/whatsapp.svg" alt="WhatsApp"></a>
        </div>
    </div>
</div>



<div id="services" class="services-section">
    <div class="header">
        <h1>{{ translations['services']['services'] }}</h1>
    </div>

    <div class="services-buttons">
        <a href="#tarot-readings" class="service-btn">{{ translations['services']['tarot-readings'] }}</a>
        <a href="#video-call" class="service-btn">{{ translations['services']['video-call'] }}</a>
        <a href="#your-questions" class="service-btn">{{ translations['services']['your-questions'] }}</a>
        <a href="#quick-message" class="service-btn">{{ translations['services']['quick-message'] }}</a>
        <a href="#compatibility-astro" class="service-btn">{{ translations['services']['compatibility-astro'] }}</a>
    </div>

    <div class="instructions">
        <p>{{ translations['services']['description'] }}</p>
    </div>

    <div class="contact-icons">
        <a href="https://t.me/sixamprincess" target="_blank">
            <img src="../static/telegram.svg" alt="Telegram">
        </a>
        <a href="https://wa.me/qr/Q5FSEMNWBPYWH1" target="_blank">
            <img src="../static/whatsapp.svg" alt="WhatsApp">
        </a>
    </div>
</div>



<div class="tarot-reading-section">
    <div id="tarot-readings" class="header">
        <h1>{{ translations['services']['tarot-readings'] }}</h1>
    </div>

    <!--- 1 General --->
    <div id="tarot-reading-1" class="tarot-reading-tab" style="background-image: url('../static/background.jpg');">
        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['general']['title1'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['general']['title2'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['general']['title3'] }}<br><br></h2>
        </div>

        <div class="instructions">
            <ol>
                <li>{{ translations['nav-tarot-readings']['general']['1'] }}</li>
                <li>{{ translations['nav-tarot-readings']['general']['2'] }}</li>
                <li>{{ translations['nav-tarot-readings']['general']['3'] }}</li>
            </ol>
            <p>{{ translations['nav-tarot-readings']['general']['4'] }}</p>
            <p>{{ translations['nav-tarot-readings']['general']['5'] }}</p>
            <ul>
                <li>{{ translations['nav-tarot-readings']['general']['6'] }}</li>
                <li>{{ translations['nav-tarot-readings']['general']['7'] }}</li>
            </ul>
        </div>

        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['general']['price'] }}</h2>
        </div>
    </div>


    <!--- 2 Your In Search of Harmony --->
    <div id="tarot-reading-2" class="tarot-reading-tab" style="background-image: url('../static/background.jpg');">
        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['harmony']['title1'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['harmony']['title2'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['harmony']['title3'] }}<br><br></h2>
        </div>

        <div class="instructions">
            <ol>
                <li>{{ translations['nav-tarot-readings']['harmony']['1'] }}</li>
                <li>{{ translations['nav-tarot-readings']['harmony']['2'] }}</li>
                <li>{{ translations['nav-tarot-readings']['harmony']['3'] }}</li>
                <li>{{ translations['nav-tarot-readings']['harmony']['4'] }}</li>
                <li>{{ translations['nav-tarot-readings']['harmony']['5'] }}</li>
            </ol>
        </div>

        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['harmony']['price'] }}</h2>
        </div>
    </div>


    <!--- 3 Your Strength --->
    <div id="tarot-reading-3" class="tarot-reading-tab" style="background-image: url('../static/background.jpg');">
        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['strength']['title1'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['strength']['title2'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['strength']['title3'] }}<br><br></h2>
        </div>

        <div class="instructions">
            <ol>
                <li>{{ translations['nav-tarot-readings']['strength']['1'] }}</li>
                <li>{{ translations['nav-tarot-readings']['strength']['2'] }}</li>
                <li>{{ translations['nav-tarot-readings']['strength']['3'] }}</li>
                <li>{{ translations['nav-tarot-readings']['strength']['4'] }}</li>
                <li>{{ translations['nav-tarot-readings']['strength']['5'] }}</li>
            </ol>
        </div>

        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['strength']['price'] }}</h2>
        </div>
    </div>


    <!--- 4 Finance --->
    <div id="tarot-reading-4" class="tarot-reading-tab" style="background-image: url('../static/background.jpg');">
        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['finance']['title1'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['finance']['title2'] }}<br><br></h2>
        </div>

        <div class="instructions">
            <ol>
                <li>{{ translations['nav-tarot-readings']['finance']['1'] }}</li>
                <li>{{ translations['nav-tarot-readings']['finance']['2'] }}</li>
                <li>{{ translations['nav-tarot-readings']['finance']['3'] }}</li>
                <li>{{ translations['nav-tarot-readings']['finance']['4'] }}</li>
                <li>{{ translations['nav-tarot-readings']['finance']['5'] }}</li>
            </ol>
        </div>

        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['finance']['price'] }}</h2>
        </div>
    </div>


    <!--- 5 Love --->
    <div id="tarot-reading-5" class="tarot-reading-tab" style="background-image: url('../static/background.jpg');">
        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['love1']['title1'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['love1']['title2'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['love1']['title3'] }}<br><br></h2>
        </div>

        <div class="instructions">
            <ol>
                <li>{{ translations['nav-tarot-readings']['love1']['1'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love1']['2'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love1']['3'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love1']['4'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love1']['5'] }}</li>
            </ol>
        </div>

        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['love1']['price'] }}</h2>
        </div>
    </div>


    <!--- Image of Brook in between the last tabs --->
    <div id="brook-image" class="brook-image">
        <img src="../static/brook.png" alt="Brook">
    </div>


    <!--- 6 Love --->
    <div id="tarot-reading-6" class="tarot-reading-tab" style="background-image: url('../static/background.jpg');">
        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['love2']['title1'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['love2']['title2'] }}</h2>
            <h2>{{ translations['nav-tarot-readings']['love2']['title3'] }}<br><br></h2>
        </div>

        <div class="instructions">
            <ol>
                <li>{{ translations['nav-tarot-readings']['love2']['1'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love2']['2'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love2']['3'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love2']['4'] }}</li>
                <li>{{ translations['nav-tarot-readings']['love2']['5'] }}</li>
            </ol>
        </div>

        <div class="gold-header">
            <h2>{{ translations['nav-tarot-readings']['love2']['price'] }}</h2>
        </div>
    </div>
</div>



<div class="ordinary-panel">
    <div id="video-call" class="header">
        <h1>{{ translations['services']['video-call'] }}</h1>
    </div>
    <div class="header">
        <h2>{{ translations['nav-video-call']['title'] }}</h2>
    </div>

    <div class="instructions">
        <p>
            {{ translations['nav-video-call']['1'] }}
        </p>
        <p>
            {{ translations['nav-video-call']['2'] }}
        </p>
    </div>

    <div class="gold-header">
        <h2>{{ translations['nav-video-call']['price'] }}</h2>
    </div>
</div>



<div id="your-questions" class="ordinary-panel" style="background-image: url('../static/questions_background.png');">
    <div class="header">
        <h1>{{ translations['services']['your-questions'] }}</h1>
    </div>

    <div class="question-container">
        <div class="left-question-panel">
            <div class="header">
                <h2>{{ translations['nav-your-questions']['title1'] }}</h2>
            </div>
            <div class="gold-header">
                <h2>{{ translations['nav-your-questions']['price'] }}</h2>
            </div>
        </div>

        <div class="right-question-panel">
            <div class="header">
                <h2>{{ translations['nav-your-questions']['title2'] }}</h2>
            </div>
        </div>
    </div>


    <div class="instructions-navigation">
        <nav class="navigation">
            <ul>
                <li><a href="#important">{{ translations['services']['important'] }}</a></li>
            </ul>
        </nav>

        <div class="instructions">
            <p>{{ translations['nav-your-questions']['suggestion'] | safe }}</p>
        </div>
    </div>
</div>



<div id="quick-message" class="ordinary-panel">
    <div class="message-container">
        <div class="left-message-panel">
            <div class="header">
                <h1>{{ translations['services']['quick-message'] }}</h1>
            </div>
            <div class="header">
                <h2>{{ translations['nav-quick-message']['title'] }}</h2>
            </div>

            <div class="instructions">
                <p>{{ translations['nav-quick-message']['1'] | safe }}</p>
                <p><br>{{ translations['nav-quick-message']['2'] }}</p>
            </div>

            <div class="gold-header">
                <h2>{{ translations['nav-quick-message']['price'] }}</h2>
            </div>
        </div>


        <!--- Image of the Souls next to the pannel --->
        <div class="right-message-panel">
            <img src="../static/souls.png" alt="souls.png">
        </div>
    </div>
</div>



<div id="compatibility-astro" class="compatibility-astro-panel">
    <div class="compatibility-astro-container">
        <div class="left-compatibility-astro-panel" >
            <div class="compatibility-astro-background">
                <div class="astrology-header">
                    <h1>{{ translations['nav-compatibility-astro1']['title1'] }}</h1>
                </div>
                <div class="astrology-header">
                    <h2>{{ translations['nav-compatibility-astro1']['title2'] }}</h2>
                </div>

                <div class="gold-header">
                    <h2>{{ translations['nav-compatibility-astro1']['price'] }}</h2>
                </div>
            </div>
        </div>

        <div class="right-compatibility-astro-panel">
            <div class="compatibility-astro-text-background">
                <div class="gold-header">
                    <h2>{{ translations['nav-compatibility-astro1']['instruction'] }}</h2>
                </div>

                <div class="astrology-list">
                    <ul>
                        <li>{{ translations['nav-compatibility-astro1']['1'] }}</li>
                        <li>{{ translations['nav-compatibility-astro1']['2'] }}</li>
                        <li>{{ translations['nav-compatibility-astro1']['3'] }}</li>
                        <li>{{ translations['nav-compatibility-astro1']['4'] }}</li>
                    </ul>
                    <p>{{ translations['nav-compatibility-astro1']['format'] }}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="compatibility-astro-premium" class="compatibility-astro-container">
        <div class="left-compatibility-astro-panel">
            <div class="compatibility-astro-background">
                <div class="astrology-header">
                    <h1>{{ translations['nav-compatibility-astro2']['title1'] | safe }}</h1>
                </div>

                <div class="gold-header">
                    <h2>{{ translations['nav-compatibility-astro2']['price'] }}</h2>
                </div>
            </div>
        </div>

        <div class="right-compatibility-astro-panel">
            <div class="compatibility-astro-text-background">
                <div class="gold-header">
                    <h2>{{ translations['nav-compatibility-astro2']['instruction'] }}</h2>
                </div>

                <div class="astrology-list">
                    <ul>
                        <li>{{ translations['nav-compatibility-astro2']['1'] }}</li>
                        <li>{{ translations['nav-compatibility-astro2']['2'] }}</li>
                        <li>{{ translations['nav-compatibility-astro2']['3'] }}</li>
                    </ul>
                    <p>{{ translations['nav-compatibility-astro2']['format'] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="important" class="important-panel">
    <div class="header">
        <h1>{{ translations['services']['important'] }}</h1>
    </div>

    <div class="gold-header">
        <h2>{{ translations['nav-important']['disclaimer'] }}</h2>
    </div>

    <div class="instructions">
        <ul>
            <li>{{ translations['nav-important']['1'] }}</li>
            <li>{{ translations['nav-important']['2'] }}</li>
            <li>{{ translations['nav-important']['3'] }}</li>
            <li>{{ translations['nav-important']['4'] }}</li>
        </ul>
    </div>

    <div class="gold-header">
        <h2>{{ translations['nav-important']['input'] }}</h2>
    </div>

    <div class="instructions">
        <ul>
            <li>{{ translations['nav-important']['input1'] }}</li>
            <li>{{ translations['nav-important']['input2'] }}</li>
            <li>{{ translations['nav-important']['input3'] }}</li>
        </ul>
    </div>

    <div class="order">
        <p>{{ translations['nav-important']['order'] }}</p>
        <div class="social-media">
            <a href="https://t.me/sixamprincess" target="_blank"><img src="../static/telegram.svg" alt="Telegram"></a>
            <a href="https://wa.me/qr/Q5FSEMNWBPYWH1" target="_blank"><img src="../static/whatsapp.svg" alt="WhatsApp"></a>
        </div>
    </div>
</div>



<div id="conclusion">
    <div class="conclusion-panel">
        <div class="conclusion-background">
            <div class="instructions">
                <p>{{ translations['nav-conclusion']['1'] }}</p>
                <p>{{ translations['nav-conclusion']['2'] }}</p>

                <div class="the-end">
                    <h1>{{ translations['nav-conclusion']['the-end'] }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
